body {
    background-image: linear-gradient(
        #493657, #be97ce, #778da9, #2e294e
    );
    font-family: 'Nova Mono', monospace;
    background-size: 100%;
}

h1 {
    font-size: 38pt;
    margin: 0px 0px 16px 0px;
    color: lightgray;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: lightgray;
    font-size: 14pt;
    margin-bottom: 32px;
    font-family: 'Handlee', cursive;
}

ul {
    list-style: none;
}

/* Index page styling */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-title-description {
    margin-top: 0px;
    margin-bottom: 5.5rem;
}

.intro-profile-pic {
    border-radius: 100px/50px;
    width: 360ps;
    height: 360px;
    border: 2px solid gray;
    margin-top: 5.5rem;
}

.content-1 {
    display: flex;
    flex-direction: column;
}

.project-accordion-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    border: 2px solid gray;
    background-color: #7D6B91;
    padding: 2rem;
    max-width: 100%;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2.5rem;
    grid-column-gap: 2.5rem;
    max-width: 100%;
}

/* .accordion {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #7D6BB7;
    overflow: hidden;
}

.accordion-category {
    width: 100%;
    height: auto;
}

.accordion-category-header:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

.accordion-category--open .accordion-category-entries {
    height: auto;
    padding: 1.5rem;
}

.accordion-category--open .accordion-category-header-arrow {
    transform: rotate(90deg);
    transform-origin: center;
}

.accordion-category-header {
    height: 100%;
    width: 100%;
    display: flex;

}

.accordion-category-header h3 {
    margin-left: .5rem;
}

.accordion-category-header-arrow {
    transition: .5s;
}



.accordion-category-entries {
    height: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: .5rem;
    width: 100%;
}

.accordion-category-entries:not(:last-of-type) {
    border-bottom: 1px solid black;
} */

.social {
    display: flex;
    flex-direction: row;
}


.contact-info {
    background-color: #77567A;
    padding: 2rem;
    margin: 1.5rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    border: 2px solid gray;
}

.info-tab {
    display: flex;
    flex-direction: row;
    background-color: #7D6B91;
    margin: 1.5rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    border: 2px solid gray;
}

.info-content {
    padding: 2rem;
}

.project {
    max-width: 21rem;
    height: 12.5rem;
    display: flex;
    background-color: #2e294e;
    transition: .5s;
    border-radius: 10px;
}

.project:hover {
    transform: scale(1.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .25);
}

.project-image {
    width: 12.5rem;
    height: 12.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.coursera {
    background-image: url(https://screenshot.codepen.io/3491208.BaBZqrr.07c67094-0791-43f6-b8b1-05635bb9cbe4.png);
    background-size: 325%;
    background-position-x: 1.5rem;
    background-position-y: .25rem;
}

.devto-tags {
    background-image: url(https://screenshot.codepen.io/3491208.LYPLNbN.64251829-10a6-4c3b-902a-b1cf7d331b61.png);
    background-size: 240%;
    background-position-x: 0rem;
    background-position-y: 1rem;

}

.sales-site {
    background-image: url(sales_site_screenshot.png); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.web-design-FCC {
    background-image: url(https://screenshot.codepen.io/3491208.LYPNgOw.b104f884-6d36-4688-ba6f-29c775e82a3e.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

.dog-spa {
    background-image: url(dog_spa.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
}

.autocomplete {
    background-image: url(autocomplete.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;
}

.project-content {
    width: 50%;
    height: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.button {
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 13pt;
    color: white;
    font-weight: bold;
    font-family: 'Nova Mono', monospace;
}

.button-email {
    padding: .5rem;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 14pt;
    color: white;
    font-family: 'Nova Mono', monospace;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .25);
}

.pic-container {
    max-width: 360px;
    display: flex;
    align-items: center;
    object-fit: initial;
    background-color: #7D6BB7;
    padding: 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icon-container {
    padding: .5rem;
}

/* Mobile view styling */

@media screen and (max-width: 414px) {
    body {
        width: 100vw;
        margin: 0;
    }
    
    h1 {
        font-size: 18pt;
    }

    p {
        font-size: 11pt;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5rem 1rem 6rem 1rem;
    }

    .info-tab {
        display: flex;
        flex-direction: column;
        max-height: none;
    }

    .pic-container {
        max-width: 328px;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }

    /* .accordion-category-entries {
        display: flex;
        flex-direction: column;
        width: 80%;
    } */

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .project {
        margin-top: 1.5rem;
    }
}

.por {
    border: 2px solid gray;
    padding: .5rem;
}

.red {
    color: red;
}

.up {
    position: absolute;
    top: 0%;
    left: 50%;
}

.down {
    position: absolute;
    bottom: 0%;
    left: 50%;
}

.pic-container {
    position: relative;
}