body {
    background-image: linear-gradient(
        #493657, #be97ce, #778da9, #2e294e
    );
    font-family: 'Nova Mono', monospace;
    background-size: 100%;
}

h1 {
    font-size: 38pt;
    margin: 0px 0px 16px 0px;
    color: lightgray;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: lightgray;
    font-size: 14pt;
    margin-bottom: 32px;
    font-family: 'Handlee', cursive;
}

ul {
    list-style: none;
}

/* Index page styling */

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-description {
    margin-top: 0px;
    margin-bottom: 5.5rem;
}

#profile-pic {
    border-radius: 100px/50px;
    width: 360ps;
    height: 360px;
    border: 2px solid gray;
    margin-top: 5.5rem;
}

#content-1 {
    display: flex;
    flex-direction: column;
}

#social {
    display: flex;
    flex-direction: row;
}

/* #content-3 {
    
} */



#contact-info {
    background-color: #77567A;
    padding: 2rem;
    margin: 1.5rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    border: 2px solid gray;
}

.info-tab {
    display: flex;
    flex-direction: row;
    background-color: #7D6B91;
    margin: 1.5rem 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    border: 2px solid gray;
}

.info-content {
    padding: 2rem;
}

.button {
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 13pt;
    color: white;
    font-weight: bold;
    font-family: 'Nova Mono', monospace;
}

.button-email {
    padding: .5rem;
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 14pt;
    color: white;
    font-family: 'Nova Mono', monospace;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .25);
}

.pic-container {
    max-width: 360px;
    display: flex;
    align-items: center;
    object-fit: initial;
    background-color: #7D6BB7;
    padding: 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icon-container {
    padding: .5rem;
}

/* Mobile view styling */

@media screen and (max-width: 414px) {
    body {
        width: 100%;
        margin: 0;
    }
    
    h1 {
        font-size: 18pt;
    }

    p {
        font-size: 11pt;
    }

    #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 7rem 1rem 6rem 1rem;
    }

    .info-tab {
        display: flex;
        flex-direction: column;
        max-height: none;
    }

    .pic-container {
        max-width: 328px;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
    }


}

/* About page styling */

#big-box {
    display: flex;
    background-color: black;
    margin: 0px 20px;
    justify-content: center;
}

.lil-box {
    background-color: palevioletred;
    margin: 16px 16px;
}